@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body{
  height: 100%;
  min-height: 100%;
  margin: 0;
}

h1 {
    font-size: 50px;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    background: -webkit-linear-gradient(rgb(0, 247, 255), rgb(251, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s all;
    text-transform: capitalize;
    letter-spacing: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    border: 3px solid #fff;
    padding: 15px;
}

#wrapper {
    width: 100%;
    height: inherit;
}
